.cover__subtitle{
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFF;
  max-width: 360px;
  z-index: 1;
  margin: 32px 0 245px;
}
@media (max-width: 1024px){
  .cover__subtitle{
    margin-bottom: 195px;
  }
}
@media (max-width: 768px){
  .cover__subtitle{
    margin-bottom: 115px;
  }
}
@media (max-width: 425px){
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 320px){
  .cover__subtitle {
    margin-bottom: 33px;
  }
}


