.header__logo{
  background: url(../../../images/header-logo.svg) no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 176px;
  height: 52px;
  background-size: contain;
}
@media (max-width: 525px){
  .header__logo {
    width: 142px;
    height: 42px;
    background-size: contain;
  }
}

